<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar cuenta</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        .full-page {
            height: 100vh;
            width: 100vw;
        }
    </style>

</head>

<body>

    <section class="h-100">
        <header class="container h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column">

                    <div class="card" style="width: 330px">
                        <div class="card-header">
                            Restaurar contraseña
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <form action="./login/ChangePassword" method="post">

                                    <div class="col">
                                        <!-- Usuario -->
                                        <label class="form-label">Ingresa tu nombre de usuario</label>
                                        <input type="text" class="form-control" name="usuario" required
                                            placeholder="Ingresa tu nombre de usuario" >
                                        <!-- Password -->
                                        <label class="form-label">Ingresa tu nueva contraseña</label>
                                        <input type="password" class="form-control" name="password" required
                                            placeholder="Ingresa tu contraseña" id="p1">
                                        <label class="form-label">Confirma tu contraseña</label>
                                        <input type="password" class="form-control" required
                                            placeholder="Confirmar contraseña" id="p2">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info mt-4">Cambiar</button>
                                        <br>
                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </header>
    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        const element = document.querySelector('form');

        element.addEventListener('submit', event => {
            p1 = document.getElementById("p1");
            p2 = document.getElementById("p2");
            console.log(p1.value);
            console.log(p2.value);

            if(p1.value != p2.value)
            {
                Swal.fire(
                    'Cuidado',
                    'Las contraseñas no coinciden',
                    'warning'  )
                console.log("Form stopped");
                event.preventDefault();
            }
            else
            {
                event.preventDefault();

                Swal.fire({
                title: 'La contraseña se cambio correctamente',
                didOpen: function () {
                    Swal.showLoading()
                    // AJAX request simulated with setTimeout
                    setTimeout(function () {
                        element.submit();
                        Swal.close()
                    }, 2000)
                }
            })
            }
            })
    </script>

    <script>
        // const element = document.querySelector('form');
        // element.addEventListener('submit', event => {
        //     event.preventDefault();
        //     Swal.fire({
        //         title: 'Tu contraseña se cambió correctamente.',
        //         didOpen: function () {
        //             Swal.showLoading()
        //             // AJAX request simulated with setTimeout
        //             setTimeout(function () {
        //                 element.submit();
        //                 Swal.close()
        //             }, 2000)
        //         }
        //     })
        //     console.log('Form submission cancelled.');
        // });


    </script>


</body>

</html>