<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>Confirmar cuenta</title>
</head>

<body>
    <script>
        window.onload = (event) => {
            var bandera = "<%=ban%>"
            console.log(bandera);
            if (bandera=='false')
            {
                swal({
                        title: "Correo caducado",
                        text: "Tendras que ingresar tus datos en el registro de nuevo.",
                        icon: "error",
                    })
                        .then((value) => {
                            if (value == true) {
                                console.log("closing window");
                                // Simulate an HTTP redirect:
                                window.location.replace("https://recetariowebapp.onrender.com/registro");
                            }
                        });
            }
            else
            {
                
                swal({
                        title: "Correo confirmado",
                        text: "Ya puede inciar sesion con sus credenciales.",
                        icon: "success",
                    })
                        .then((value) => {
                            if (value == true) {
                                console.log("closing window");
                                window.close();
                            }
                        });

            }
        };
    </script>
</body>

</html>